<div class="row" id="top_row">
  <div class="col-xs-4">
    <div class="charlie_container">
      <%= image_tag "charlie_cheese.jpg", id: "charlie", class: "img-responsive center-block" %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="charlie_container_reverse">
      <%= image_tag "charlie_cheese.jpg", id: "charlie", class: "img-responsive center-block" %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="charlie_container">
      <%= image_tag "charlie_cheese.jpg", id: "charlie", class: "img-responsive center-block" %>
    </div>
  </div>
</div>

<div class="row" id="bot_row">
  <div class="col-xs-4">
    <div class="charlie_container_reverse">
      <%= image_tag "charlie_cheese.jpg", id: "charlie", class: "img-responsive center-block" %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="charlie_container">
      <%= image_tag "charlie_cheese.jpg", id: "charlie", class: "img-responsive center-block" %>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="charlie_container_reverse">
      <%= image_tag "charlie_cheese.jpg", id: "charlie", class: "img-responsive center-block" %>
    </div>
  </div>
</div>
